@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.container{

  background-color: rgba(33, 34, 34, 0.822);
  height: 90vh;
  width: 85%;
  margin: auto;
  margin-top: 4rem;
  overflow:scroll;
  color:rgb(255, 255, 255);
  font-family: "Poppins";
}
@media screen and (max-width: 400px) {
  .container {
    max-width: 300px;
    margin: auto;
    margin-top: 2rem;
    height: 300px;
    font-size: 9px;};
    .timer{
      padding-left:6rem;
      margin: 0;
    }


      #sunlogo{
        height: 10px;
        width: 10px;
      }
      .logoclass{
        width: 80px;
      }
      .navbar{
        display: flex;
        gap: 0;

      };
      .sliders{
        width: 10px;
      }
      
    }

  @media screen and (max-width: 400px) {
    nav a{ font-size: 9px;

    };
    .header{
     max-width: 300px;
     display: flex;
     flex-direction: row;
      height:50px;};


      .inpi{

        margin: auto;
        width: 100px;
        height: 5px;
        font-size: 10px;
        padding:.3rem;
        
      };
      .degree-switch{
        width: 40px;
        display: none
      };
  

      

  
    }

.header{
  display: flex;
  gap: 15rem;

}
h4{
  padding-left: 19rem;
}

h1{
  font-size: 300%;
  margin-bottom: 0;
}
nav{
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 14rem;
  padding-top:4rem;
}

.weather{
  font-size:3rem;
}


#sunlogo{
  padding: .2rem;
  height: 40px;
  width: 40px;
  display: block; 
}
.logoclass{
  padding: .8rem;

  display: flex;

}
.degree-switch{
  margin-left: 3rem;
  display: flex;
  flex-direction: row;
  gap: .4rem;


}
h4{
  margin-top:0;
}

.cards{
  text-align: right;
  margin: 3px;
  width: 20rem;
  border: brown ridge 2px;
  padding-left: 10px;
  border-radius: 10px;
}
.card-collection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

input{
  display: flex;
  align-self: center;
  display: block;

  height: 80%;
  width: 30%;
  padding: .8rem;
  border-radius: 1rem;
  background-image: url(https://ibb.co/QFkbXYmp); 
}
#searchBTN{
  margin-bottom:2rem;
}
.searching{
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}
.slide-card{
  display: flex;
  align-items:center;
  justify-content: space-around;
}
button{
  margin-top: 3rem;
}

.sliders{
  display: block;
  margin: auto;
  height:50%;
  width:60%;
}
.last-class{
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;

}
nav a{
  color: white;
  text-decoration: none;
}
nav a:hover{
  color: rgb(99, 104, 104);
}
nav a.active-link{
  font-weight: bold;
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.mainslide{
  display:block;

}
.slidebtn{
  display: flex;
  width: 20px;

}
 
@media screen  and (max-width:400px){

  .sliders{
    width:50%;
    height: 40%;
  };
  .navbar{
    padding: 0;
    gap: 1rem;
  };
  .header{
    gap: 2rem;
  };
  .tabs{
    margin: auto;
  };
  .faren{
    padding: 0;
  };
  .weather{
    font-size: 8px;
  };
  .last-class{
    height: 50px;
    width: 100px;
    margin-top: 0;
    flex-wrap: wrap; 
  margin-bottom: 0;};
  .mainslide{
    height: 100%;

  };
  #sunlogo{
    height: 15px;
    width: 15px;
  }




  
  
  
}


